body {
  /* background-color: rgb(246, 246, 246); */
  /* background-color: rgb(235, 235, 235); */
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintop {
  font-size: 29px;
  font-weight: lighter;
  border-radius: 13px;
  margin-top: 1vh;
  height: 18vh;
  width: 96vw;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* box-shadow: 0 0 7px #999999; */
}
/* .maintop div {
  background-color: transparent;
} */

.notice {
  width: 96vw;
  background-color: rgb(213, 213, 213);
  height: 67vh;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
}

.groupList {
  width: 96vw;
  height: 67vh;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(60, 60, 60); */
}

.groupTitle {
  margin: 1vh;
  margin-left: 3vh;
}

.addBar {
  /* width: 15vw; */
  /* height: 5px; */
  background-color: rgb(225, 225, 225);
  margin-top: 11px;
  border-radius: 30px;
}

.addBtn {
  width: 96vw;
  height: 7vh;
  background-color: #000000;
  /* border-top-right-radius: 13px;
  border-top-left-radius: 13px; */
  border: 1px solid rgb(205, 205, 205);
  border-bottom: none;
  position: fixed;
  bottom: 1vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .inputBox input {
  width: 80%;
} */

.detailBtn {
  border: none;
  border-radius: 13px;
  background-color: rgb(225, 225, 225);
  /* background: linear-gradient(#ffffff, #000000); */
}

.inputBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.addContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}

.inputBoxes {
  width: 96vw;
  background-color: white;
  color: rgb(0, 0, 0);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: absolute;
  bottom: 0;
  padding-bottom: 5vh;
  /* box-shadow: 0 0 5px #ffffff; */
}

.inputBoxes > div {
  width: 98%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.boxElements {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2vh;
}

.inputBoxes div input {
  width: 100%;
  height: 3vh;
  /* background-color: rgb(240, 240, 240); */
  border: none;
  border-bottom: 1px solid rgb(240, 240, 240);
  /* border-radius: 13px; */
  padding: 5px 12px 5px 12px;
}

.autoResize {
  width: 200px; /* 원하는 width로 설정 */
  min-height: 30px; /* 최소 height 설정 */
  resize: none; /* 사용자가 사이즈 조정 불가 */
  overflow: hidden; /* 스크롤바 숨기기 */
  white-space: nowrap; /* 글자가 줄 바꿈 없이 계속 가로로 써지게 설정 */
}

.inputTitle {
  background-color: rgb(26, 26, 26);
  color: white;
  width: 15vw;
  padding: 5px 12px 5px 12px;
  /* border-radius: 10px; */
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.saveBtn {
  /* background-color: orange; */

  color: rgb(26, 26, 26);
  font-weight: 600;
  padding: 10px 0px 10px 0px;

  border: none;
  text-align: center;
  width: 100%;
}

.nameList {
  display: flex;
  min-height: 6vh;
  flex-direction: row;
  align-items: flex-end;
  overflow: scroll;
  scroll-behavior: smooth;
  /* background-color: antiquewhite; */
}

/* .nameList > div {
  top: 0;
  margin-left: 1vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  
} */

.nameList::-webkit-scrollbar {
  display: none;
}

.nameList > div:first-child {
  margin-left: 0;
}

.nameBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* background-color: aliceblue; */
}

.nameList div {
  margin-top: 1vh;
  padding: 5px 12px 5px 12px;
  height: 3vh;
  border: 1px solid rgb(225, 225, 225);

  top: 0;
  margin-left: 1vh;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.nameList div:first-child {
  margin-top: 0;
}

.addBtnIcon {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s;
}

.inputField {
  width: 200px;
  padding: 10px;
}
